/* widget */
.widget {
  background-color: var(--bgWhite);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in;

  /* left */
  .left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .title {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--colorBrand);
    }
    .counter {
      font-size: 3.4rem;
      font-weight: 500;
      color: var(--colorSecondary);
    }
    .link {
      background-color: var(--bgPrimary);
      color: var(--colorBlack);
      padding: 0 1rem;
      font-size: 1.2rem;
      line-height: 2rem;
      text-transform: capitalize;
      text-decoration: none;
      border-radius: 1rem;
      cursor: pointer;
      width: fit-content;
    }
  }
  /* end: left */
  /* right */
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    .counter {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.1rem;

      &.green {
        color: var(--colorGreen);
      }

      &.red {
        color: var(--colorRed);
      }
      font-weight: 700;
      .icon {
        font-size: 3rem;
      }
    }
    .widgetIcon {
      font-size: 5rem;
      padding: 0;
      color: var(--colorSecondary);
    }
  }
  /* end: right */
  &:hover {
    background-color: var(--bgPrimary);
    transform: scale(1.05);
    .link {
      background-color: var(--bgWhite);
    }
  }
}

/* end: widget */
