.sidebar {
  background-color: #fff;
  border-right: 1px solid var(--borderSecondary);
  overflow: hidden;
  .logo {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid var(--borderSecondary);
    .img {
      width: 80%;
      height: 70%;
      object-fit: contain;
    }
  }
  .menubar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .block {
      text-transform: uppercase;
      color: var(--colorSecondary);
      font-size: 1.4rem;
      font-weight: 500;
      margin: 1rem 0;
      display: block;
    }
    .menuLink {
      text-decoration: none;
      text-transform: capitalize;
      color: var(--colorPrimary);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.4rem;
      font-size: 1.6rem;
      padding: 0.5rem;
      transition: all 0.3s linear;
      margin-left: 0.5rem;

      .icon {
        color: var(--colorBrand);
      }
      &:hover {
        background-color: var(--bgPrimary);
      }
    }
  }
}
