/* sidebar */
.sidebar {
  background-color: var(--bgWhite);
  border-right: 1px solid var(--borderSecondary);
  overflow: hidden;
  height: 100vh;
  /* logo */
  .logo {
    width: 100%;
    height: 6rem;
    border-bottom: 0.1rem solid var(--borderSecondary);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    .img {
      height: 60%;
      object-fit: contain;
    }
    .text {
      font-size: 3rem;
      font-weight: 900;
      color: var(--colorBrand);
    }
  }

  /* end: logo */
  /* menubar */
  .menubar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 10rem);
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0.2rem;
      background: var(--bgPrimary);
    }

    &::-webkit-scrollbar-track {
      border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background: var(--colorBrand);
    }
    .block {
      text-transform: uppercase;
      color: var(--colorSecondary);
      font-size: 1.2rem;
      font-weight: 600;
      margin: 1rem 0;
      display: block;
    }
    .menuLink {
      text-decoration: none;
      text-transform: capitalize;
      color: var(--colorPrimary);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.4rem;
      padding: 0.5rem;
      transition: all 0.3s linear;
      margin-left: 0.5rem;
      .icon {
        color: var(--colorBrand);
        font-size: 1.8rem;
      }
      &:hover {
        background-color: var(--bgPrimary);
      }
    }
  }
  /* end: menubar */

  /* footerIcons */
  .footerIcons {
    background-color: var(--bgPrimary);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    .type {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.3rem;
      border-radius: 50%;
      background-color: var(--colorBrand);
      color: var(--colorWhite);
      .icon {
        font-size: 2rem;
      }
    }
    .light {
      background-color: var(--bgWhite);
      color: var(--colorDark);
    }
    .dark {
      background-color: var(--bgBlack);
    }
  }
  /* end: footerIcons */
}
/* end: sidebar */
